python-telegram-bot==20.7
telethon==1.40.0

# Conjunto estable de Supabase y dependencias
supabase==1.0.3
gotrue==1.1.0
postgrest==0.10.8
realtime==1.0.1
storage3==0.5.3
supafunc==0.3.3

# httpx compatibles con ese stack
httpx==0.23.1
httpcore==0.16.3

python-dotenv
nest_asyncio